/*URL*/
$url: "/img/";

/*Hashing*/
$version: "?v=202106041";

/*Font 및 Color*/
$family: '맑은 고딕','Malgun Gothic', Arial, 'AppleGothic', Helvetica, 나눔고딕, 돋움, Dotum, 굴림, Gulim, sans-serif;
$white: #ffffff;
$black: #666666;
$bold_black: #333333;
$point: #ff8e66;
$bold: bold;
$sqrt_2: 1.41421356237;